body {
  margin: 0;
  color: #E4E4E4;
  background: linear-gradient(to right, #414141, #2d2d2d);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html { 
  font-family: 'ArodoraPro-Light', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}